<div class="cart-container">
    <p-dataView #dv [value]="cartItemsService.cartItems" filterBy="productName">
        <ng-template pTemplate="header">
            My Cart
            <input type="search" pInputText placeholder="Search Cart" (input)="dv.filter($any($event.target).value)">
        </ng-template>
        <ng-template let-ICartItem pTemplate="listItem">
            <div class="col-12">
                <div class="cart-item-list-item">
                    <img [src]="'/assets/images/' + ICartItem.productImg" [alt]="ICartItem.productName" />
                    <div class="cart-item-list-detail">
                        <div class="cart-item-name">{{ICartItem.productName}}</div>
                        <div class="cart-item-description">Amount: {{ICartItem.quantity}}</div>
                    </div>
                    <div class="cart-item-list-action">
                        <span class="p-buttonset ">
                            <button pButton pRipple class="cart-button p-button-text" icon="pi pi-pencil"
                                (click)="handleEdit(ICartItem)"></button>
                            <button pButton pRipple class="cart-button p-button-text" icon="pi pi-trash"
                                (click)="handleDelete(ICartItem.id)"></button>
                        </span>
                        <span class="cart-item-price">{{ICartItem.price * ICartItem.quantity |
                            currency:"ILS":"symbol"}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <app-add-cart-item-modal *ngIf="isModalShown" [(isModalShown)]="isModalShown" [cartItemToEdit]="cartItemToEdit"></app-add-cart-item-modal>
    
    <span class="p-buttonset footer-buttons-set">
        <button pButton pRipple label="Clear Cart" class="footer-button" (click)="handleClearCart()"
            [disabled]="cartItemsService.cartItems.length == 0"></button>
        <button pButton pRipple label="Payment" class="footer-button" (click)="handlePayment()"
            [disabled]="cartItemsService.cartItems.length == 0"></button>       
    </span>
</div>