.cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.p-dataview-content {
    overflow: auto;
    height: 100%;
}

.cart-item-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

img {
    width: 30%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
}

.cart-item-list-detail {
    flex: 1 0;
}

.cart-item-price {
    font-size: 1rem;
    /* font-weight: 600; */
    margin-bottom: 0.5rem;
    align-self: flex-end;
}

.cart-item-name {
    font-size: 1rem;
    font-weight: 700;
}

.cart-item-description {
    font-size: 0.9rem;
}

.cart-item-list-action {
    display: flex;
    flex-direction: column;
}

.cart-button {
    align-self: flex-end;
    padding: 5px;
    margin: 0;
    font-size: 0.6rem;
    width: 2rem;
}

.footer-buttons-set {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer-button {
    width: 50%;
}

.total-price {
    float: right;
}