<div class="cart-container">
    <p-dataView #dv [value]="cartItems" filterBy="productName">
        <ng-template pTemplate="header" class="header">
            <span>My Cart</span>
            <span class="total-price">Total: {{cartItemsService.totalPrice | currency: "ILS" : "symbol"}}</span> <br>
            <input type="search" pInputText placeholder="Search Cart" (input)="handleSearch($any($event.target).value)">
        </ng-template>
        <ng-template let-ICartItem pTemplate="listItem">
            <div class="col-12">
                <div class="cart-item-list-item">
                    <img [src]="'/assets/images/' + ICartItem.productImg" [alt]="ICartItem.productName" />
                    <div class="cart-item-list-detail">
                        <div class="cart-item-name" [innerHTML]="ICartItem.productName | marker : searchString"></div>
                        <div class="cart-item-description">Amount: {{ICartItem.quantity}}</div>
                    </div>
                    <div class="cart-item-list-action" *ngIf="!isOrder">
                        <span class="p-buttonset ">
                            <button pButton pRipple class="cart-button p-button-text" icon="pi pi-pencil"
                                (click)="handleEdit(ICartItem)"></button>
                            <button pButton pRipple class="cart-button p-button-text" icon="pi pi-trash"
                                (click)="handleDelete(ICartItem.id)"></button>
                        </span>
                        <span class="cart-item-price">{{ICartItem.price * ICartItem.quantity |
                            currency:"ILS":"symbol"}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <app-add-cart-item-modal *ngIf="isModalShown" [(isModalShown)]="isModalShown" [cartItemToEdit]="cartItemToEdit">
    </app-add-cart-item-modal>

    <span class="p-buttonset footer-buttons-set" *ngIf="!isOrder">
        <button pButton pRipple label="Clear Cart" class="footer-button" (click)="handleClearCart()"
            [disabled]="cartItems.length == 0"></button>
        <button pButton pRipple label="Payment" class="footer-button" (click)="handlePayment()"
            [disabled]="cartItems.length == 0"></button>
    </span>
    <span class="footer-buttons-set" *ngIf="isOrder">
        <button pButton pRipple label="Back To Store" class="footer-button" (click)="router.navigate(['store'])"
            [disabled]="cartItems.length == 0"></button>

    </span>
</div>