<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a id="title" href="#" class="navbar-brand">I-Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" (click)="isHamburgerShown = !isHamburgerShown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-auto" id="navmenu" [ngClass]="{ 'show': isHamburgerShown }">
            <input class="form-control" id="searchCoinInput" type="text" placeholder="Search Product"> <button
                class="btn btn-outline-success btn-color" id="searchCoinButton">Search</button>
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a id="home" href="#" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a id="about" href="#" class="nav-link">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>