<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Online Store</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="currentUser">
        <a class="nav-link" routerLink="" (click)="handleLogout()">Log Out</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="http:localhost:3001/api-docs">Documentation</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li> -->
    </ul>
    <div class="d-flex user-name" *ngIf="currentUser">Hello {{currentUser.firstName}} {{currentUser.lastName}}</div>
    <form class="d-flex input-group w-auto" *ngIf="currentUser && stateService.isStore">
      <span class="p-input-icon-left p-float-label" >
        <i class="pi pi-search"></i>
        <input id="searchInput" type="text" pInputText [formControl]="searchControl" >
        <label for="searchInput">Search Product</label>
      </span>
    </form>
  </div>
</nav>