.cart {
    display: inline-flex;
    width: 30%;
    height: 85vh;
}

.order-container {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.order-input {
    width: 200px !important;
}

.order-form {
    display: inline-flex;
    width: 65%;
    height: 85vh;
    padding: 10px;
    overflow: auto;
}

.headline {
    text-align: center;
}

app-cart {
    height: 100%;
}

.toast-button {
    padding: 0;
}

@media screen and (max-width: 960px) {
    .cart {
        display: inline-flex;
        width: 95vw;
        height: fit-content;
        margin-bottom: 10px;
    } 
    
    .order-form {
        display: inline-flex;
        width: 95vw;
        height: 85vh;
        padding: 10px;
        overflow: auto;
        margin-bottom: 10px;
    }

    .order-container {
        display: block;
        margin: 10px;
        /* justify-content: space-evenly; */
    }
}
