<div class="order-container">
    <div class="cart card">
        <app-cart [isOrder]="true"></app-cart>
    </div>
    <div class="order-form card">
        <form [formGroup]="orderForm" (ngSubmit)="handleSubmit()">
            <h3 class="headline">Shipping Details</h3>
            <div>When do you want to receive your purchase?* <br>
                <p-calendar class="order-input" formControlName="shippingDate" dateFormat="dd.mm.yy" [showIcon]="true"
                    [disabledDates]="ordersService.busyDays" [minDate]="todayDate" [baseZIndex]="1">
                </p-calendar>
                <small
                    *ngIf="orderForm.get('shippingDate').hasError('required') && orderForm.get('shippingDate').touched"
                    class="p-error block">Shipping date is required.</small>
            </div>
            <br>
            <div>Choose your city*: </div>
            <p-dropdown class="order-input" [options]="stateService.cities" formControlName="city"
            placeholder="Select a City"></p-dropdown>
            <br>
            <small *ngIf="orderForm.get('city').hasError('required') && orderForm.get('city').touched"
            class="p-error block">City is required.</small>
            <br>
            
            <div>Enter your street address:*</div>
            <span class="p-float-label order-input">
                <input name="street" pInputText id="streetInput" type="text" formControlName="street"
                    (dblclick)="handleDblClickStreet()" />
                    <label for="streetInput">Street Address</label>
            </span>
            <small *ngIf="orderForm.get('street').hasError('required') && orderForm.get('street').touched"
            class="p-error block">Street address is required.</small>
            <small *ngIf="orderForm.controls['street'].hasError('maxlength') && orderForm.controls['street'].dirty"
            class="p-error block">Address is too long.</small>
            
            <h3 class="headline">Payment Details</h3>
            <div>Enter credit card number:*</div>
            <span class="order-input">
                <p-inputMask class="order-input" name="creditCard" id="creditCardInput" mask="9999-9999-9999-9999"
                    formControlName="creditCard" placeholder="xxxx-xxxx-xxxx-xxxx"></p-inputMask>
                <small *ngIf="orderForm.get('creditCard').hasError('required') && orderForm.get('creditCard').touched"
                    class="p-error block">Credit card is required.</small>
                <small *ngIf="orderForm.get('creditCard').hasError('patten') && orderForm.get('creditCard').touched"
                    class="p-error block">Invalid credit card.</small>
            </span>
            <br> <br>

            <p-button type="submit" [disabled]="orderForm.invalid">Submit</p-button>
            <small>*Required fields.</small>
        </form>
    </div>

    <p-toast position="center" key="c" (onClose)="onCloseToast()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}
                        <button type="button" pButton pRipple (click)="onGetReceipt()" label="Click here"
                            class="p-button-text toast-button" ></button>
                    </p>
                </div>
            </div>
        </ng-template>
    </p-toast>
</div>