.page404 {
    width: fit-content;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.page404-img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 960px) {
    .page404 {
        width: 95vw;
    }
}