.home-card {
    display: inline-block;
    height: 95%;
    width: 30%;
    margin: 5px;
    overflow: auto;
    padding: 10px;
}
.card-container {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    height: 90vh;
    flex-wrap: wrap;
}

.home-img {
    width: 100%;
    border-radius: 10px;
}

.go-to-store-buttons {
    text-align: center;
}

@media screen and (max-width: 960px) {
    .home-card {
        display: inline-block;
        height: fit-content;
        width: 100vw;
        margin: 5px;
        overflow: auto;
        padding: 10px;
    }

    .card-container {
        height: fit-content;
        margin-bottom: 10px;
    }
  }