<div class="card-container">
    <div class="account card home-card">
        <p-button (click)="router.navigate(['/store'])" label="Start Shopping"
            *ngIf="currentUser?.role == 'user' && (!cart || (cart && cartItems?.length == 0) )">
        </p-button>
        <p-button (click)="router.navigate(['/store'])" label="Resume Shopping"
            *ngIf="currentUser?.role == 'user' && cart && cartItems?.length > 0"></p-button>
        <p-button (click)="router.navigate(['/store'])" label="Go To Store" *ngIf="currentUser?.role == 'admin'">
        </p-button>
        <div *ngIf="!currentUser">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="about card home-card">
        <p>Welcome to my Online Store</p>
        <img class="home-img" src="/assets/images/welcome.png">
        <br>
        <p>Created by Maor Nidam.</p>
    </div>
    <div class="general-info card home-card">
        Amount of Products: {{productsService.amountOfProducts}}. <br>
        Amount of orders: {{ordersService.amountOfOrder}}. <br>
        <br>
        <div *ngIf="currentUser && currentUser.role == 'user'">
            <span *ngIf="!ordersService.lastOrderDate && cartItems?.length == 0">Enjoy your first
                quality online shopping!</span>
            <span *ngIf="cartItems?.length > 0">You have an opened cart
                from
                {{cart.creationDate | date: 'fullDate'}}</span>
            <span *ngIf="ordersService.lastOrderDate && cartItems?.length == 0">Your last order was at
                {{ordersService.lastOrderDate | date: 'fullDate'}}</span>
        </div>
        <div *ngIf="currentUser?.role == 'admin'">
            Welcome admin.
        </div>
        <div *ngIf="!currentUser">
            User account: <br>
            a@gmail.com <br>
            Password: <br>
            123456<br> <br>
            Admin account: <br>
            nidamaor@gmail.com <br>
            Password: <br>
            123456<br>
        </div>
    </div>
</div>