.product-form {
    padding: 15px;
}

.product-input {
    width: 100%;
}

.ui-dropdown {
    width: 100% !important;
}

.footer-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}