<div class="login" *ngIf="!usersService.currentUser">
    <h3>Log In</h3>
        <br>
            <span class="p-float-label">
                <input pInputText id="emailInput" type="text" 
                [(ngModel)]="email"
                required
                email
                #emailInputData="ngModel"
                 />
                <label for="emailInput">E-Mail</label>
            </span>
            <small *ngIf="emailInputData.errors?.['email'] && emailInputData.touched" id="email-help" class="p-error block">E-mail isn't valid.</small>
            <small *ngIf="emailInputData.errors?.['required'] && emailInputData.touched" id="email-help" class="p-error block">E-mail is required.</small>
        <br> <br>
            <span class="p-float-label">
                <!-- <input pInputText id="password" type="password" class="form-control" [(ngModel)]="password" /> -->
                <p-password id="password"  [(ngModel)]="password" [toggleMask]="true" [feedback]="false" [(ngModel)]="password"></p-password>
                <label for="password">Password</label>
            </span>
            <small *ngIf="isPasswordError" id="password-help" class="p-error block">{{passwordErrorMessage}}</small>

        <br> <br>
        <button pButton pRipple type="submit" label="Login" (click)="handleLogin()"></button>
</div>