<p-dialog [header]="cartItemToEdit?.productName" [(visible)]="isModalShown" [modal]="true" (onHide)="handleModalHide()">
    <div class="add-dialog-content">
        <img [src]="'/assets/images/' + cartItemToEdit?.productImg" [alt]="productToAdd?.name" /> <br>
        How many would you like? <br>
        <div *ngIf="amountToAdd != 0" class="total-price">Total price: {{cartItemToEdit?.price * amountToAdd |
            currency:"ILS":"symbol"}} </div>
    </div>
    <ng-template pTemplate="footer">
        <p-inputNumber class="modal-input" [(ngModel)]="amountToAdd" [showButtons]="true" mode="decimal" [min]=0 [max]=50>
        </p-inputNumber> <br>
        <button pButton pRipple [label]="isEdit? 'Update Cart' :'Add To Cart'" styleClass="modal-button"
            (click)="handleAddButton()"></button>
    </ng-template>
</p-dialog>