html, body {
    height: 100vh;
    width: 100vw;
    background-color: #d1d5ed !important;
}

small {
    display: block;
}

.p-float-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 70%);
}

.highlight {
    background-color:  #a9b3eb;
}